@import "./variables.scss";

.alert {
    padding: $main-dimen;
    margin: $main-dimen;
    border-radius: 5px;
    transition: all 1s ease-in-out;

    &.fadeOut {
        margin: 0;
        padding: 0;
    }
}

.alert-danger {
    border: 1px solid red;
    background: lightcoral;
}

.alert-success {
    border: 1px solid green;
    background: lightgreen;
}