@import "./variables.scss";
@import "./typography.scss";
@import "./mixins.scss";

html,
body {
  font-size: calc(12pt + 0.1vw);
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", "Arial Narrow", Arial, sans-serif;
}

$in-transition-seconds: 0.5s;
$out-transition-seconds: 0.2s;

.link:visited,
.link {
  padding: $main-dimen / 2;
  text-decoration: none;
  color: black;
  background: linear-gradient(to right,
      transparent 51%,
      getColor(dark-blue) 50%);
  background-size: 200% 100%;
  background-position: left bottom;
  display: inline-block;
  transition: all $in-transition-seconds ease;

  &:hover {
    background-position: right bottom;
    transition-delay: $out-transition-seconds;
    color: white;
  }
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

#app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  @include background-gradient($gradient-direction, dark-blue, light-purple);
}

.container {
  @include flex(column);
  max-width: $max-width;
  height: 100%;
  margin: $main-dimen;
  width: 88%;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

main {
  @include flex(column);
}

.card main {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  flex: 1;
}

.center {
  @include flex(column);
  align-items: center;
  justify-content: center;
}

.card {
  margin: $main-dimen;
  @include accent(white);
  display: block;
}

.card header,
main,
footer,
section {
  padding: $main-dimen;
}

.text-center {
  text-align: center;
}

.form {
  @include flex(column);
  width: 100%;

  .row {
    width: 100%;
  }

  #{&}-group {
    display: flex;
    padding: $main-dimen / 2 0;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;

    label {
      font-weight: 600;
      padding: $main-dimen / 2 0;
      min-width: 120px;
    }

    input,
    textarea {
      border-radius: 5px;
      border: 1px solid lightgray;
      margin: $main-dimen / 2 0;
      padding: $main-dimen / 2;
      font-size: 1em;
      font-family: inherit;
      width: 100%;
      flex-basis: 340px;
      flex: 1;
    }
  }
}

.row {
  @include flex(row);
  align-items: center;
  flex-wrap: wrap;
}

.column {
  @include flex(column);
  align-items: center;
  flex-wrap: wrap;
}

.btn {
  padding: $main-dimen / 2;
  min-width: $main-dimen * 4;
  display: block;
  text-decoration: none;
}

.action {
  margin-left: auto;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 0.9em;
  font-weight: 600;
  cursor: pointer;
  background: getColor(dark-blue);
}

.muted {
  color: gray;
  font-size: 0.7em;
}

.hidden {
  display: none;
}

.gradient {
  @include text-gradient($gradient-direction, dark-blue, light-purple);
}

.bg-gradient {
  @include background-gradient($gradient-direction, dark-blue, light-purple);
}

.grid {
  display: grid;
  justify-content: center;
  grid-column-gap: $main-dimen / 4;
  grid-row-gap: $main-dimen / 4;
  grid-template-columns: repeat(auto-fit, 350px);

  @media (max-width: 450px) {
    grid-template-columns: repeat(auto-fit, 260px);
  }

  p {
    line-height: 1.5em;
  }
}

.grid-item {
  border: 1px solid lightgray;
  @include flex(column);
  padding: $main-dimen;
  min-height: 300px;
}