@import "../scss/mixins.scss";

main {
    padding: 0;
}

.root {
    @include flex(row);
    flex-wrap: wrap-reverse;
}

.left-column {
    flex: 4;
    border-right: 1px solid lightgray;
    flex-basis: 600px;
}

.right-column {
    flex: 1;
    flex-basis: 300px;
}