@import url("https://fonts.googleapis.com/css?family=Montserrat:400,900,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Courgette&display=swap");

@import "./variables.scss";

.heading-1 {
    font-size: 7em;
    font-weight: 900;
    margin: 0;
}

.heading-2 {
    font-size: 2em;
    margin: 0;
}

.heading-3 {
    font-size: 1em;
    margin: 0;
    font-weight: 600;
}

.heading-4 {
    font-size: 1.5em;
    margin: 0;
    font-weight: 600;
}

.heading-5 {
    font-size: 1em;
    margin: .4em 0;
    font-weight: 600;
}

.title {
    margin: $main-dimen 0;
}